/* _config.css - Globale Variablen und Fonts */

/* 1) Extra Light für Fliesstext */
@font-face {
  font-family: "Abadi ExtraLight";
  src: url("../fonts/AbadiExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* 2) Italic für Titel */
@font-face {
  font-family: "Abadi Italic";
  src: url("../fonts/AbadiItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Adobe Fonts */
@import url("https://use.typekit.net/yzl8lpa.css");


:root {
  /* Farben */
  --cream: #FFF9F6;
  --brown: #221712;
  
  /* Schriften - EXAKTE Adobe Fonts Namen (kleingeschrieben!) */
  --font-text: "montserrat", sans-serif;
  --font-bold: "Impact", "Arial Black", sans-serif;
  --font-handwriting: "mina", serif;
  --font-script: "professor", cursive;
}